/* @media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
} */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  margin: 0;
}

body {
  overflow-x: hidden;
  color: #232323;
  font-family: Cardo;
}

.wrapper {
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header {
  background: url(/images/intro/intro_bg.jpg) center no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 240px;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  width: 458px;
  height: 20px;
  font-size: 21px;
}

.nav_link {
  font-family: Lato;
  font-weight: 300;
  color: #232323;
  transition: color 0.3s;
}

.nav_link:hover {
  color: #8b8b8b;
  text-decoration: underline;
}

.nav_link-active {
  font-weight: 900;
  text-decoration: underline;
}

.button {
  font-family: Lato;
  font-weight: 900;
  font-size: 21px;
  letter-spacing: -0.53px;
  width: 256px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background-color: #232323;
  color: #e9e7e7;
  transition: background-color 0.3s;
}

.button:hover {
  border: 3px solid #232323;
  cursor: pointer;
  background-color: transparent;
  color: #232323;
  /* background-color: #e9e7e7; */
}

.button-nav {
  background-color: transparent;
  border: 3px solid #232323;
  color: #232323;
  width: 218px;
}

.button-nav:hover {
  background-color: #232323;
  color: #e9e7e7;
}

@media (max-width: 1024px) {
  .nav {
    height: 200px;
  }
  .nav_links {
    width: 358px;
  }
  .button-nav {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .nav {
    height: 150px;
  }
  .nav_links {
    width: 300px;
  }
  .nav_links {
    font-size: 19px;
  }
  .button-nav {
    font-size: 19px;
  }
}
@media (max-width: 425px) {
  .nav_links {
    display: none;
  }
}

/* Intro */
.intro {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.intro_left {
  max-width: 35%;
}

.block_titles {
  color: #232323;
}

.block_title {
  font-size: 82px;
  font-weight: 700;
  letter-spacing: -2.05px;
}

.block_subtitle {
  font-family: Lato;
  font-size: 16.5px;
  letter-spacing: -0.41px;
  line-height: normal;
  text-align: justify;
  margin: 30px 0 40px 0;
}

.intro_right {
  max-width: 55%;
  text-align: right;
}

.intro_right_img {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .intro {
    margin-top: 50px;
  }
  .block_title {
    font-size: 65px;
  }
  .intro {
    display: block;
    align-items: center;
    padding-bottom: 15px;
  }
  .intro_left {
    max-width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .block_subtitle {
    text-align: center;
  }
  .intro_right {
    max-width: 660px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .header {
    min-height: auto;
  }
  .block_title {
    /* font-size: 65px; */
    font-size: 55px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .intro {
    margin-top: 0px;
  }
  .block_title {
    font-size: 50px;
  }
  .block_subtitle {
    font-size: 16.5px;
  }
}

/* Memory */
.memory {
  background: url(/images/memory/memory_bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 388px;
  display: flex;
  align-items: center;
}

.memory_inner {
  text-align: center;
  /* padding-top: 52px; */
  /* max-width: 438px; */
  max-width: 600px;
  margin: 0 auto;
}

.block_titles-memory {
  color: #e9e7e7;
  text-align: center;
}

.block_title-memory {
  font-size: 55.5px;
}

.block_subtitle-memory {
  text-align: center;
}

.button-memory {
  background-color: transparent;
  border: 3px solid #e9e7e7;
  transition: background-color 0.3s;
}

.button-memory:hover {
  background-color: #e9e7e7;
  border: transparent;
}

@media (max-width: 1024px) {
  .block_title-memory {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .block_title-memory {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
}

/* Cards */
.cards {
  min-height: 826px;
  background: url(/images/cards/cards_bg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 165px;
}

.cards_inner {
  display: flex;
  justify-content: space-between;
  /* max-width: 100%; */
  /* flex-wrap: wrap; */
}

.cards_inner_item {
  max-width: 31%;
  height: auto;
  /* max-width: 363px; */
}

.cards_item_img_photo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cards_item_img:after {
  content: "";
  display: block;
  width: 53px;
  height: 4px;
  background-color: #232323;
  margin: 30px 0;
}

.cards_item_title {
  max-width: 230px;
  margin-bottom: 36px;
  font-size: 36.5px;
  font-weight: 700;
  letter-spacing: -0.91px;
}
.cards_item_text {
  font-family: Lato;
  font-size: 16.5px;
  line-height: normal;
  letter-spacing: -0.41px;
  text-align: justify;
  color: #232323;
}

@media (max-width: 1024px) {
  .cards {
    min-height: auto;
    padding: 100px 0;
  }
  .cards_item_img:after {
    margin: 20px 0;
  }
  .cards_item_title {
    margin-bottom: 30px;
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .cards {
    padding: 30px 0;
  }
  .cards_inner {
    display: block;
  }
  .cards_inner_item {
    max-width: 363px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .cards_inner_item:last-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 425px) {
}

/* Places */
.places {
  background: url(/images/places/places_bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 911px;
  padding-top: 188px;
  /* padding-bottom: 398px; */
}
.places_inner {
  max-width: 777px;
  margin: 0 auto;
  text-align: center;
}
.places_img {
}
.places_title {
  margin: 62px 0;
  font-size: 98px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -2.45px;
}
.underline {
  text-decoration: underline;
  font-style: italic;
}
.places_subtitle {
  font-family: Lato;
  font-size: 25px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.63px;
}

@media (max-width: 1024px) {
  /* Places */
  .places {
    background: url(/images/places/places_bg.jpg) center no-repeat;
    min-height: auto;
    padding: 60px 0;
  }
  .places_title {
    margin: 50px 0;
    font-size: 65px;
  }
  .places_subtitle {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  /* Places */
  .places_title {
    margin: 30px 0;
    font-size: 50px;
  }
  .places_subtitle {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  /* Places */
  .places_title {
    margin: 30px 0;
    font-size: 40px;
  }
  .places_subtitle {
    font-size: 16px;
  }
}

/* Mountains */
.mountains {
  min-height: 816px;
  background: url(/images/mountains/mountains_bg.jpg) center no-repeat;
  background-size: cover;
}
.mountains_inner {
  display: flex;
  justify-content: space-between;
}
.mountains_inner_left {
  width: 47%;
  height: auto;
}
.mountains_inner_left_img {
  position: relative;
  width: 100%;
  height: auto;
}

.mountains_inner_left_sticker {
  position: absolute;
  top: 35%;
  left: -5%;
}

.mountains_img {
  width: 100%;
  height: auto;
}

.mountains_inner_right {
  width: 50%;
  height: auto;
}
.mountains_inner_right_img {
  max-width: 418px;
}

.mountains_inner_right_text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 78px;
  /* max-width: 600px; */
}
.mountains_inner_right_title {
  max-width: 236px;
  font-size: 36.5px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: -0.91px;
  text-decoration: underline;
}
.mountains_inner_right_subtitle {
  max-width: 317px;
  /* margin: 2px 0 58px 46px; */
  font-family: Lato;
  font-size: 16.5px;
  line-height: normal;
  letter-spacing: -0.41px;
  text-align: justify;
  color: #232323;
}

.arrow {
  cursor: pointer;
  position: relative;
  width: 145px;
  height: 57px;
  margin-top: 44px;
  float: right;
}
.arrow div {
  position: relative;
  top: 27px;
  width: 140px;
  height: 3px;
  background-color: #232323;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
  transition: 0.3s;
}
.arrow div::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  top: -13px;
  right: -8px;
  background-color: #232323;
  transform: rotate(45deg);
  transition: 0.3s;
}
.arrow div::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  top: 13px;
  right: -8px;
  background-color: #232323;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
  transition: 0.3s;
}
.arrow:hover {
  animation: arrow 1s linear infinite;
}

.arrow:hover div {
  background-color: #8b8b8b;
}

.arrow:hover div::before {
  background-color: #8b8b8b;
}

.arrow:hover div::after {
  background-color: #8b8b8b;
}

@keyframes arrow {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}

@media (max-width: 1024px) {
  .mountains {
    min-height: auto;
    padding-bottom: 30px;
  }
  .mountains_inner_right_text {
    display: block;
    margin-top: 30px;
  }
  .mountains_inner_right_title {
    max-width: 100%;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .mountains_inner_right_subtitle {
    max-width: 100%;
    font-size: 16.5px;
  }
  .arrow {
    float: none;
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .mountains_inner {
    display: block;
  }
  .mountains_inner_left {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .mountains_inner_left_sticker {
    display: none;
  }

  .mountains_img {
    width: 100%;
    height: auto;
  }

  .mountains_inner_right {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .mountains_inner_right_img {
    margin: 0 auto;
    /* max-width: 100%; */
  }
  .mountains_inner_right_title {
    max-width: 100%;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
  }
  .mountains_inner_right_subtitle {
    max-width: 100%;
    font-size: 16px;
  }

  .arrow {
    width: 105px;
    height: 57px;
  }
  .arrow div {
    width: 100px;
    height: 3px;
  }
  .arrow div::before {
    width: 30px;
    height: 3px;
    top: -10px;
    right: -5px;
  }
  .arrow div::after {
    width: 30px;
    height: 3px;
    top: 10px;
    right: -5px;
  }
}
@media (max-width: 425px) {
}
